body {
  min-height: 2000px;
  padding-top: 70px;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

p.error {
	color: #d9534f;
}

input.error {
	border-color: #d9534f;
}

.popover {
	background-color: #d9534f;
}

.popover.right .arrow:after {
	border-right-color: #d9534f;
}

.popover-content {
	color: white;
}

.email-or-mobile {
	font-size: 1.6em;
}

legend {
	border-bottom: 0px !important;
}

.checkbox {
	padding-bottom: 5px;
}