$buddy-primary: #558FC1;
$buddy-border: #5681B3;
$buddy-secondary: #000;
$buddy-accent: #F06F59;
$buddy-tertiary: #04B39D;
$buddy-dark-accent: #424242;
$buddy-light-accent: #ebebeb;
$buddy-sans-serif-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$buddy-serif-family: "Georgia", "Palatino", "Palatino Linotype", "Times", "Times New Roman", serif;

body {
  min-height: 1000px;
  padding-top: 95px;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

input.error {
	border-color: #d9534f;
}

.popover {
	background-color: #d9534f;
}

.popover.right .arrow:after {
	border-right-color: #d9534f;
}

.popover-content {
	color: white;
}

.email-or-mobile {
	font-size: 1.6em;
}

legend {
	border-bottom: 0px !important;
}

.checkbox {
	padding-bottom: 5px;
}

.NewServiceUsersCtrl, .EditServiceUserCtrl, .LoginCtrl, .DeactivateServiceUserCtrl, .NewClinicianCtrl, .EditClinicianCtrl, .ServiceUserDiaryCtrl, .UserDashboardCtrl {
	background-color: #eee;
}

.ServiceUsersCtrl .navbar, .SearchCtrl .navbar, .CliniciansCtrl .navbar {
	margin-bottom: 0px;
}

body.ServiceUsersCtrl, body.SearchCtrl, body.CliniciansCtrl, body.ServiceUserDiaryCtrl  {
	padding-top: 56px;
}

.form-container {
	padding-top: 20px;
	background-color: white;
}

.form-container h1 {
	text-align: center;
}

.form-row {
	padding: 0px 0px 0px 5px !important;
}

.no-label {
	padding-top:20px;
}

.as-background {
	color: white;
}

.required label:after { 
   content:" *";
   color:red;
}


.form-group label.error span:after {
	content: ")"
}

.form-group label.error span:before {
	content: "("
}

.form-container .footer {
	padding-bottom: 20px;
}

.cancel-button {
	padding-top: 7px;
}

.form-group label {
	font-weight: normal;
	color: #333;
}

.form-group label.error span {
	font-size: 0.8em;
	font-style: italic;
	color: #bbb;	
}

.form-group label.error, p.error, label.error, .error-inline {
	color: #d9534f;
	font-weight: normal;
}

legend h1 {
	font-weight: normal;
	color: $buddy-primary;
	font-size: 1.3em;
}

.user-count.badge {
	background-color: #d9534f;
}

.panel-table {
	margin-bottom: 0px !important;
}


.btn-buddy {
	color: white;
	background-color: $buddy-primary;
	border-color: $buddy-border;
}

.btn-buddy:hover {
	color: white !important;
	background-color: #73a4cf;
	border-color: #73a4cf;
}

.navbar-buddy {
	color: white;
	background-color: $buddy-primary;
	border-color: $buddy-border;
}

.navbar-buddy a {
	color: white;
}

.navbar-buddy a:hover {
	color: #ddd
}

.heading {
	background-color: #eee;
	padding-bottom: 20px;
}

.heading-unit {
	padding-top: 40px;
}


.heading-unit-header {
	padding-top: 20px;
	color: $buddy-primary;
}

.list-container {
	padding-top: 30px;
}

.list-pills {
	padding-bottom: 20px;
}

td.expand-link { cursor: pointer; cursor: hand; }

.navbar-buddy .open > a, .navbar-buddy .open > a:hover, .navbar-buddy .open > a:focus, .navbar-buddy a:hover {
	background-color: $buddy-border !important;
	color: #ddd !important;
}

.navbar-buddy ul.dropdown-menu {
	background-color: $buddy-primary !important;
}

.navbar-buddy .dropdown-menu > li > a {
	color: white;
}

.modal-input-group.input-group {
	float: left;
	padding-left: 10px;
}

.modal-input-group-last.input-group {
	float: right;
	padding-right: 10px;
}

.by-timepicker {
	padding-top: 11px;
}

.by-timepicker-in-modal {
	padding-top: 37px;
}

.btn-search {
	padding-top: 8px !important;
	padding-bottom: 4px !important;
}

.help-text {
	color: #999;
	font-weight: normal;
}

.ng-hide { display: none!important; }

.panel-heading.active .user-count {
	display: none;
}

.nav-stacked .goal-count, .nav-stacked .entry-count, .nav-stacked .next-session, .nav-stacked .mobile {
	font-size: 0.7em;
	margin-left: 26px;
	line-height: 0.5em !important;
}

.nav-stacked .buddy-id {
	font-size: 0.7em;
}

.buddy-id, .goal-count, .entry-count, .next-session, .mobile {
	color: #999;
	font-size: 0.8em;
}

.clinician-last-request-at, td.settings, td.reactivate-user, td.user-count {
	vertical-align: middle !important;
}

.invitation-sent {
	color: #f0ad4e;
}

.inactive {
	color: #d9534f;
}

.list-group-label {
	font-weight: normal;
	padding-left: 2px;
}

.teams-header {
	font-weight: bold;
	padding-right: 20px;
}

.as-table:before, .as-table:after {
	content: " ";
	display: table !important;
}

.list-group-item.alert {
	border-color: #ebccd1 !important; /* bastard */
	background-color: #f2dede !important;
}

.service-user-list-attribute {
	padding-top: 4px;
}

.nav-stacked li {
	border-bottom: 1px solid #eee;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	margin-top: 0px !important;
	font-size: 1.3em;
}

.nav-stacked li a, .nav-stacked li .nav-wrapper {
	padding: 15px !important;
}

.nav-stacked > li:hover > a:hover, .nav-stacked > li > a:focus {
	background-color: #f8f8f8 !important;
}

.nav-stacked li.active {
	background-color: #f8f8f8;
}

#diary-menu {
	padding-right: 0px;
}

#next-session {
	padding-left: 0px;
	padding-right: 0px;
}

.diary-page-contents-wrapper {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.diary-page-contents {
	padding: 20px;
	background: white;	
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.nav-stacked {
	background: white;
}

.entry {
	padding: 30px;
	margin-bottom: 2px;
	font-size: 1.2em;
}


.session {
	background: white;
	margin-top: 10px;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-left: 0px;
}

.session-container.closed .session {
	border-bottom: 2px solid #dbdbdb;
}

.session-container.present .session .calendar, .session-container.closed .entry, .entry.hidden {
	display: none;
}

.add-diary-entry {
  background: white;
  margin: 10px 15px 0px 15px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 0px;
  border-bottom: 2px solid #dbdbdb;
}
.add-diary-entry label {
  font-size: 0.8em;
}

.add-diary-entry legend {
  font-size: 1.2em;
}

.no-rating {
  background-color: white;
}

.no-rating .calendar-top {
  background-color: #555 !important;
}

.rating-1.progress-bar, .rating-selector-one.active, .rating-one .calendar-top {
	background-color: #00B39D !important;
}

.rating-one, .rating-selector-one:hover {
	background-color: #CAE5E2 !important;
}

.rating-one .mood, .rating-selector-one {
	color: #00B39D !important;
}

.rating-2.progress-bar, .rating-selector-two.active, .rating-two .calendar-top {
	background-color: #289EB5 !important;
}

.rating-two, .rating-selector-two:hover {
	background-color: #D0E2E5 !important;
}

.rating-two .mood, .rating-selector-two {
	color: #289EB5 !important;
}

.rating-3.progress-bar, .rating-selector-three.active, .rating-three .calendar-top {
	background-color: #568FC2 !important;
}

.rating-three, .rating-selector-three:hover {
	background-color: #D7DFE7 !important;
}

.rating-three .mood, .rating-selector-three {
	color: #568FC2 !important;
}

.rating-4.progress-bar, .rating-selector-four.active, .rating-four .calendar-top {
	background-color: #7770AE !important;
}

.rating-four, .rating-selector-four:hover {
	background-color: #DCDBE4 !important;
}

.rating-four .mood, .rating-selector-four {
	color: #7770AE !important;
}

.rating-5.progress-bar, .rating-selector-five.active, .rating-five .calendar-top {
	background-color: #9F54A1 !important;
}

.rating-five, .rating-selector-five:hover {
	background-color: #E2D7E2 !important;
}

.rating-five .mood, .rating-selector-five {
	color: #9F54A1 !important;
}

.calendar-top.calendar-session {
	background-color: #568FC2;
}

.rating-selector a {
	text-decoration: underline !important;
}

.calendar-top {
	font-size: 0.6em;
	color: white;
	padding: 2px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.calendar-bottom {
	font-size: 0.6em;
	background-color: #f8f8f8;
	color: #444;
	padding: 3px 0px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.calendar-bottom .number {
	line-height: 0.9em;
	font-size: 2.5em;
}

.session-number {
	line-height: 0.9em;
	font-size: 3.5em;
}

.calendar {
	padding: 0px !important;
	font-weight: bolder;

}

.rating-selector {
	min-height: 46px !important;
	vertical-align: middle !important; 
	display:table-cell !important;
	font-size: 0.95em;
	border-radius: 2px;
}

.rating-selector.active, .rating-selector:hover {
	background-color: #f8f8f8;
}

.nav-pills li a {
	border-radius: 30px !important;
	margin-right: 10px;
}

.nav-pills li a.az {
	padding: 10px 40px !important;
}

.table > tbody > tr > td:hover {
	background-color: #e3f1fd !important;
}

.ServiceUsersCtrl td a:hover {
	text-decoration: none;
	color: #428bca !important;
}

.navbar-nav > li > a {
	line-height: 26px !important; 
}

a.clinician-btn, a.clinician-btn:hover {
  color: white;
  background-color: $buddy-accent !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  margin-top: 10px !important;
}

a.navbar-brand {
	padding: 10px;
}

a:hover {
	color: #73a4cf !important;
}

.navbar, .MainCtrl .navbar-past-title {
  border-bottom: 3px solid #465A86 !important;
}

.MainCtrl .navbar-pre-title {
  border-bottom: 3px solid $buddy-primary !important;  
}

.panel-title {
	font-size: 1.5em !important;
	color: $buddy-primary !important;
}

.mood {
	font-style: italic;
	font-size: 0.9em;
	margin-top: 10px;
}

.rating-selectors {
	display: table !important;
	height: 80px;
}

h2.no-results, h1.dashboard-header, .title, .nav-wrapper .iconic {
	color: $buddy-primary;
}

.dashboard-box {
	border-top: 1px solid #ccc;
	padding: 30px 0px 30px 0px;
}

.first.dashboard-box {
	border-right: 1px solid #ccc;
}

.dashboard-icon {
	width: 60px;
	height: 60px;
	border-radius: 5px;
	float: left;
	margin: 0px 10px 0px 10px;
	padding-top: 14px;
	color: white;
}

.dashboard-icon.plus-icon {
	background-color: #568FC2;	
}

.dashboard-icon.calendar-icon {
	background-color: #00B39D;	
}

.dashboard-icon.data-transfer-icon {
	background-color: #289EB5;
}

.dashboard-icon.question-mark-icon {
	background-color: #7770AE;
}

.dashboard-header, .dashboard-search {
	margin-bottom: 50px;
}

.buddy-nav .title {
	padding-left: 5px;
	padding-bottom: 200px;
}

.text-message-days {
	text-transform: capitalize;
}

.current-goals, .editable-goals {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #eee;
}

.past-goals {
	padding-top: 10px;
	margin-top: 10px;
	border-top: 1px solid #eee;	
}

.session .progress {
	height: 10px !important;
	border-radius: 2px !important;
}

.entry-details {
	margin-bottom: 10px;
	font-style: italic;
	color: #8a8a8a;
}

.session-details {
	font-size: 1.4em;
	color: #568FC2;
}

/*
  Home Page styles
*/

@mixin step-display {
  position: relative;
  font-family: $buddy-sans-serif-family;
  font-weight: bolder;
  .number {
    position: relative;
    text-align: center;
    z-index: 4;
    font-size: 7em;
    color: white;
  }
  .step-title {
    position: absolute;
    text-align: center;
    z-index: 5;
    font-size: 2em;
    color: $buddy-tertiary;
    width: 100%;
    top:38%;
  }
}

.MainCtrl {
  .home {
    font-family: $buddy-serif-family;
    h1, h2, h3 ,h4, h5 {
      font-family: $buddy-serif-family;
    }
    font-size: 1.4em;
    .intro {
      margin-top: -40px;
      padding: 6.5em 15px;
      background-color: #324D5C;
      h1 {
        font-size: 2.3em;
        color: $buddy-primary;
      }
      p {
        color: white;
        a {
          color: $buddy-accent;
        }
      }
    }

    .how-it-works {
      background: url("/images/background_arrow.png") top center no-repeat;
      padding-top: 3em;
      padding-bottom: 2em;
      h2 {
        color: $buddy-primary;
        font-size: 2em;
        padding-bottom: 0.5em;
        text-align: center;
      }
    }

    .faq-info {
      padding: 3em;
      background: $buddy-light-accent;
      p {
        font-family: $buddy-sans-serif-family;
        color: $buddy-dark-accent;
        // font-size: 0.6em;
      }
      a, a:hover {
        color: $buddy-dark-accent !important;
        text-decoration: underline;
      }
      .thumbnail {
        background-color: inherit;
        border: 0;
        .caption {
          h3 {
            font-family: $buddy-sans-serif-family;
            font-weight: bold;
            color: $buddy-tertiary;
            font-size: 0.7em;
            margin-bottom: 0;
          }
          p {
            font-family: $buddy-sans-serif-family;
            font-size: 0.6em;
            color: $buddy-dark-accent;
          }
        }
      }
    }

    .user-quotes {
      padding: 3em;
      blockquote {
        border: 0;
        background: url("/images/quote.png") top left no-repeat;
        p {
          color: $buddy-dark-accent;
          padding: 2em;
          padding-left: 0;
          padding-bottom: 1.5em;
          margin-top: 1.5em;
          font-size: 1.1em;
        }
        footer {
          color: $buddy-primary;
          font-size: 0.7em;
        }
      }
    }

    .recognition {
      background-color: $buddy-light-accent;
      font-family: $buddy-sans-serif-family;
      padding: 2em;
      font-size: 0.7em;
      h3 {
        color: $buddy-primary;
        font-family: $buddy-sans-serif-family;
      }

      p {
        padding: 0 0 6em 2em;
        padding: 2em 6em 0 0;
      }

      ul.awards li:first-child {
        border: 0;
      }
      ul.awards {
        padding-left: 0;
        list-style: none;
        li {
          background: url("/images/award.png") no-repeat 0 0.9em;
          border-top: 1px dashed #BFBEA9;
          padding: 0.8em 0 0.8em 2.5em;
        }
      }
    }

    .footer {
      padding: 3em;
      background-color: $buddy-dark-accent;
      font-family: $buddy-sans-serif-family;
      font-size: 0.7em;
      color: white;
      a, a:hover {
        color: white !important;
        text-decoration: underline;
      }
      img {
        padding-bottom: 1.5em;
      }
      ul {
        list-style: none;
      }
    }

    .title {
      margin-top: -40px;
      padding: 1.5em 15px;
      background-color: $buddy-primary;
    }

    // Main homepage styles

    .features {
      height: 27em;
      min-height: 27em;
      .feature-text {
        font-size: 1.1em;
        height: 8em;
        min-height: 8em;
      }
      .features-step {
        @include step-display;
      }
      padding: 3em;
      background: $buddy-light-accent;
      p {
        font-family: $buddy-serif-family;
        color: $buddy-dark-accent;
      }
      .thumbnail {
        background-color: inherit;
        border: 0;
        .caption {
          h3 {
            font-family: $buddy-sans-serif-family;
            font-weight: bold;
            color: $buddy-tertiary;
            font-size: 0.7em;
            margin-bottom: 0;
          }
          p {
            font-family: $buddy-sans-serif-family;
            font-size: 0.6em;
            color: $buddy-dark-accent;
          }
        }
      }
    }

    .vision {
      height: 800px;
      min-height: 800px;
      .vision-step {
        @include step-display;
        .number {
          color: $buddy-light-accent;
        }
        .step-title {
          color: #269EB4;
        }
      }
      img {
        float: right;
        // margin-right: 40px;
      }
      .carousel .carousel-inner {
      }
      .carousel-control {
        font-family: $buddy-sans-serif-family;
        font-size: 0.8em;
        position: inherit;
        background-image: none;
        text-shadow: none;
        filter: none;
        left: 6em;
        top: 0em;
        z-index: 200;
        a {
          text-shadow: none;
          opacity: 1.0;
        }
      }
      .carousel-control:focus, .carousel-control:hover {
        filter: none;
        opacity: 1.0;
        color: white !important;
      }
      .carousel-caption {
        text-align: left;
        width: 330px;
        top: 3em;
        left: 5em;

        h3 {
          font-family: $buddy-sans-serif-family;
          color: $buddy-primary;
        }
        p {
          font-family: $buddy-sans-serif-family;
          color: $buddy-dark-accent;
          font-size: 0.6em;
          text-shadow: none;
        }
      }
    }

    .benefits {
      padding-top: 2em;
      padding-bottom: 2em;
      background-color: $buddy-light-accent;
      .benefits-step {
        @include step-display;
        .step-title {
          color: $buddy-primary;
        }
      }
      blockquote {
        border: 0;
        background: url("/images/quote_accent.png") top left no-repeat;
        p {
          color: $buddy-dark-accent;
          padding: 2em;
          padding-left: 0;
          padding-bottom: 1.5em;
          margin-top: 1.5em;
          font-size: 1.1em;
        }
        footer {
          color: $buddy-primary;
          font-size: 0.7em;
        }
      }
      .thumbnail {
        background-color: inherit;
        border: 0;
        .caption {
          h3 {
            font-family: $buddy-sans-serif-family;
            font-weight: bold;
            color: $buddy-primary;
            font-size: 0.7em;
            margin-bottom: 0;
          }
        }
      }
    }

    .get-buddy {
      padding-top: 1em;
      padding-bottom: 2em;
      .get-buddy-step {
        @include step-display;
        .step-title {
          color: #7670AE;
        }
        .number {
          color: $buddy-light-accent;
        }
      }
      .buddy-text {
        padding: 2em 0;
      }
      .dotted-boxes div {
        height: 21em;
        font-family: $buddy-sans-serif-family;
        border: 1px dashed $buddy-dark-accent;
        border-radius: 5px;
      }
      .job-title {
        font-size: 1.1em;
        color: $buddy-dark-accent;
      }
      .phone {
        color: darken($buddy-light-accent, 30%);
      }
      h3 {
        color: #7670AE;
        font-family: $buddy-sans-serif-family;
      }
      .dense {
        font-weight: bold;
      }
      p {
        font-family: $buddy-serif-family;
      }
    }

    .team {
      padding-top: 1em;
      padding-bottom: 3em;
      .team-step {
        @include step-display;
        .step-title {
          color: #9E54A1;
        }
      }
      .team-text {
        padding: 2em 0;
      }
      img {
        margin-top: 2em;
        margin-bottom: 2em;
      }
      .more-info {
        font-family: $buddy-sans-serif-family;
        font-size: 0.7em;
        h3 {
          font-family: $buddy-sans-serif-family;
          color: #9E54A1;
        }
        .text-left {
          padding-top: 2em;
          padding-left: 3em;
        }
      }
      background-color: $buddy-light-accent;
      ul.awards li:first-child {
        border: 0;
      }
      ul.awards {
        padding-left: 0;
        list-style: none;
        li {
          background: url("/images/award.png") no-repeat 0 0.9em;
          border-top: 1px dashed #BFBEA9;
          padding: 0.8em 0 0.8em 2.5em;
        }
      }
    }
  }
}

.ReportsCtrl {
  .reports button.form-control.btn-primary {
    margin: 0 10px 10px 0;
  }
}


#Intercom {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: block;
    background-color: $buddy-primary;
    padding: 8px;
    border-radius: 3px;
    color: #fff;
}

.goal-time tr.text-center {
  display: none;
}

.goal-time {
  margin: 0 auto;
}

.add-goal {
  margin-top: 5px;
}