body {
  min-height: 2000px;
  padding-top: 70px;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

input.error {
	border-color: #d9534f;
}

.popover {
	background-color: #d9534f;
}

.popover.right .arrow:after {
	border-right-color: #d9534f;
}

.popover-content {
	color: white;
}

.email-or-mobile {
	font-size: 1.6em;
}

legend {
	border-bottom: 0px !important;
}

.checkbox {
	padding-bottom: 5px;
}

.NewServiceUsersCtrl, .EditServiceUserCtrl, .LoginCtrl, .DeactivateServiceUserCtrl, .NewClinicianCtrl, .EditClinicianCtrl, .ServiceUserDiaryCtrl {
	background-color: #eee;
}

.ServiceUserDiaryCtrl  {
	padding-top: 50px;
}

.ServiceUsersCtrl .navbar, .SearchCtrl .navbar, .CliniciansCtrl .navbar {
	margin-bottom: 0px;
}

body.ServiceUsersCtrl, body.SearchCtrl, body.CliniciansCtrl {
	padding-top: 50px;
}

.form-container {
	padding-top: 20px;
	background-color: white;
}

.form-container h1 {
	text-align: center;
}

.form-row {
	margin-right: 15px;
	margin-left: -15px;
}

.no-label {
	padding-top:20px;
}

.as-background {
	color: white;
}

.required label:after { 
   content:" *";
   color:red;
}


.form-group label.error span:after {
	content: ")"
}

.form-group label.error span:before {
	content: "("
}

.form-container .footer {
	padding-bottom: 20px;
}

.cancel-button {
	padding-top: 7px;
}

.form-group label {
	font-weight: normal;
	color: #333;
}

.form-group label.error span {
	font-size: 0.8em;
	font-style: italic;
	color: #bbb;	
}

.form-group label.error, p.error, label.error, .error-inline {
	color: #d9534f;
	font-weight: normal;
}

legend h1 {
	font-weight: normal;
	color: #558FC1;
	font-size: 0.95em;
}

.user-count.badge {
	background-color: #d9534f;
}

.panel-table {
	margin-bottom: 0px !important;
}


.btn-buddy {
	color: white;
	background-color: #558FC1;
	border-color: #5681B3;
}

.navbar-buddy {
	color: white;
	background-color: #558FC1;
	border-color: #5681B3;
}

.navbar-buddy a {
	color: white;
}

.navbar-buddy a:hover {
	color: #ddd
}

.heading {
	background-color: #eee;
	padding-bottom: 20px;
}

.heading-unit {
	padding-top: 40px;
}


.heading-unit-header {
	padding-top: 20px;
	color: #558FC1;
}

.list-container {
	padding-top: 30px;
}

.list-pills {
	padding-bottom: 20px;
}

td.expand-link { cursor: pointer; cursor: hand; }

.navbar-buddy .open > a, .navbar-buddy .open > a:hover, .navbar-buddy .open > a:focus, .navbar-buddy a:hover {
	background-color: #5681B3 !important;
	color: #ddd !important;
}

.navbar-buddy ul.dropdown-menu {
	background-color: #558FC1 !important;
}

.navbar-buddy .dropdown-menu > li > a {
	color: white;
}

.modal-input-group.input-group {
	float: left;
	padding-left: 10px;
}

.modal-input-group-last.input-group {
	float: right;
	padding-right: 10px;
}

.by-timepicker {
	padding-top: 11px;
}

.by-timepicker-in-modal {
	padding-top: 37px;
}

.btn-search {
	padding-top: 8px !important;
	padding-bottom: 4px !important;
}

.help-text {
	color: #999;
	font-weight: normal;
}

.ng-hide { display: none!important; }

.panel-heading.active .user-count {
	display: none;
}

.clinician-id {
	color: #999;
	font-size: 0.8em;
}

.clinician-last-request-at {
	vertical-align: middle !important;
}

.invitation-sent {
	color: #f0ad4e;
}

.inactive {
	color: #d9534f;
}

.list-group-label {
	font-weight: normal;
	padding-left: 2px;
}

.teams-header {
	font-weight: bold;
	padding-right: 20px;
}

.as-table:before, .as-table:after {
	content: " ";
	display: table !important;
}

.list-group-item.alert {
	border-color: #ebccd1 !important; /* bastard */
	background-color: #f2dede !important;
}

.service-user-list-attribute {
	padding-top: 4px;
}

.nav-stacked li {
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	margin-top: 0px !important;
}

.nav-stacked li a {
	padding: 15px !important;
}

.nav-stacked li.active {
	background-color: #eee;
}

#diary-menu {
	padding-right: 0px;
}

#next-session {
	padding-left: 0px;
	padding-right: 0px;
}

.diary-page-contents-wrapper {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.diary-page-contents {
	padding: 20px;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background: white;	
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.nav-stacked {
	background: white;
}

.entry {
	margin: 10px;
	padding: 30px;
	border: 1px solid;
}

.session.closed .entry {
	display: none;
}

.session {
	background: white;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.session.present {
	display: none;
}

.rating-1.progress-bar {
	background-color: red;
}

.rating-2.progress-bar {
	background-color: yellow;
}

.rating-3.progress-bar {
	background-color: pink;
}

.rating-4.progress-bar {
	background-color: green;
}

.rating-5.progress-bar {
	background-color: purple;
}

.calendar-top {
	background-color: #444;
	color: white;
	padding: 2px;

}

.calendar-bottom {
	background-color: #e9e9e9;
	color: #444;
	padding: 2px 7px;
}

.calendar {
	padding: 0px !important;
}