{
    "rackspace_api_key"	 :	"",
    "rackspace_username" :	"",
    "rackspace_region"   :	"lon",
    "deployment_tags"    :	["web"],
    "deployment_path"    :      "/var/www/",
    "deployment_user"    :      "www"
}
