<div class="col-md-6 col-md-push-3 form-container">
  <legend>
    <h1>{{ clinician.full_name }}</h1>
  </legend>
  <form ng-submit="submit()">
    <div class="col-md-6">
      <div class="form-group required">
        <label for="clinician_first_name" ng-class="{error: errors.first_name}">
          First Name
          <span class="error-inline" ng-if="errors.first_name">{{ errors.first_name }}</span>
        </label>
        <input type="text" ng-model="clinician.first_name" placeholder="" class="form-control input-md" id="clinician_first_name">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group required">
        <label for="clinician_last_name" ng-class="{error: errors.last_name}">
          Last Name
          <span class="error-inline" ng-if="errors.last_name">{{ errors.last_name }}</span>
        </label>
        <input type="text" ng-model="clinician.last_name" placeholder="" class="form-control input-md" id="clinician_last_name">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group required">
        <label for="clinician_email" ng-class="{error: errors.email}">
          Email Address
          <span class="error-inline" ng-if="errors.email">{{ errors.email }}</span>
        </label>
        <input type="text" ng-model="clinician.email" placeholder="" class="form-control input-md" id="clinician_email">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group required">
        <label ng-if="!currentUser">
          <input type="checkbox" ng-model="clinician.can_administer_account" value="1" id="clinician_can_administer_account">
          &nbsp; May manage account
        </label>
        <br />
        <label>
          <input type="checkbox" ng-model="clinician.has_caseload" value="1" id="clinician_has_caseload">
          &nbsp; Has caseload
        </label>
      </div>
    </div>

    <div class="col-md-12">
      <label>
        Service Users ({{ serviceUsers.length }})
        <span class="error-inline" ng-if="checkUsers() > 0"><br />You must assign a new Primary Clinician or deactivate these users to continue</span>
        <p id="deactivate-service-users-error" class="error-inline" ng-if="deactivationClicked">To deactivate this clinician please re-assign or deactivate the following service users </p>
      </label>
      <div class="list-group">
        <div class="list-group-item as-table" ng-repeat="serviceUser in serviceUsers | orderBy: 'last_name'" ng-class="{'alert-danger': serviceUser.needsMoving || serviceUser.needsMovingForDeactivation, alert: serviceUser.needsMoving || serviceUser.needsMovingForDeactivation }">
          <div class="col-md-4 service-user-list-attribute">
            <label class="list-group-label">
              {{ serviceUser.full_name }}<br />
              <span class="buddy-id">{{ serviceUser.buddy_id }}</span>
            </label>
          </div>
          <div class="col-md-4 service-user-list-attribute" ng-if="serviceUser.deactivated_at">
            <a ng-href="/service_users/{{serviceUser.id}}/deactivate?returnTo=%2Fclinicians%2F{{clinician.id}}%2Fedit">
              Deactivate user
            </a>
          </div>
          <div class="col-md-4 service-user-list-attribute" ng-if="!serviceUser.deactivated_at">
            <a ng-href="/service_users/{{serviceUser.id}}/deactivate?returnTo=%2Fclinicians%2F{{clinician.id}}%2Fedit">
              Reactivate user
            </a>
          </div>

          <div class="col-md-4">
            <select class="form-control" ng-options="clinician.id as clinician.full_name for clinician in teamClinicians[serviceUser.account_id] | orderBy: 'last_name' | filter: {deactivated_at: null}" ng-model="serviceUser.clinician_id" ng-change="checkUsers()"></select>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8 footer" ng-if="!currentUser">
      <span class="teams-header">
        <label ng-class="{error: errors.account_ids}">
          Teams ({{ teams.length }})
          <span class="help-text">
            Choose which team(s) this clinician is a part of
          </span>
          <span class="error-inline" ng-if="errors.team"><br />You must belong to atleast one team</span>
        </label>
      </span>

    </div>
    <div class="col-md-4 text-right footer" ng-if="!currentUser">
      <span class="text-right">
        <a ng-click="selectAllTeams()" href="#select-all">select all</a>
      </span>
    </div>

    <div class="col-md-12" ng-if="!currentUser">
      <ul class="list-group">
        <li href="#" class="list-group-item active" ng-repeat="team in teams">
          <input type="checkbox" ng-model="team.selected" ng-change="checkUsers(); checkTeams()">
          <label class="list-group-label">
            {{ team.name }}
          </label>
        </li>
      </ul>
    </div>
    <div class="col-md-12 text-center footer" ng-if="!currentUser">
      <span ng-if="clinician.deactivated_at">
        This user has been deactivated
        <a href="#" ng-click="reactivate($event)">
          Reactivate this user
        </a>
      </span>

      <span ng-if="!clinician.deactivated_at">
        Has this person left or stopped using Buddy?
        <a href="#" ng-click="deactivate($event)">
          Deactivate this user
        </a>
      </span>
    </div>
    <div class="col-md-12 footer">
      <div class="col-md-6 text-right">
        <input type="submit" class="btn btn-buddy right" value="Save" ng-disabled="checkUsers() > 0 || checkTeams() == 0">
      </div>
      <div class="col-md-6 cancel-button">
        <a href="/clinicians">Cancel</a>
      </div>
    </div>
  </form>
</div>
