<div class="heading col-md-12">
  <div class="container">
    <div class="col-md-5 col-md-push-1 heading-unit-header">
      <h1>Clinicians</h1>
    </div>
    <div class="col-md-3 col-md-push-1 heading-unit">
      <form ng-submit="search()">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="search_term" placeholder="Search for a user">
          <span class="input-group-btn">
            <button class="btn btn-buddy btn-search">
              <span class="iconic" data-glyph="magnifying-glass" title="search" aria-hidden="true"></span>
            </button>
          </span>
        </div>
      </form>
    </div>
    <div class="col-md-3 text-right heading-unit">
      <a ng-href="/clinicians/new" class="btn btn-buddy">Add a clinician</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-md-push-1 col-md-10 list-container">
    <ul id="tabs" class="nav nav-pills list-pills" data-tabs="tabs">
      <li class="active"><a ng-click="anchor('az')" data-toggle="tab">Clinicians</a></li>
      <li><a ng-click="anchor('deactivated')" data-toggle="tab">Deactivated</a></li>
    </ul>
    <div id="my-tab-content" class="tab-content">
      <div class="tab-pane active" id="az">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Last logged in</th>
              <th class="text-center">Active users</th>
              <th class="text-center">Inactive users</th>
              <th class="text-center">Deactivated</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="clinician in clinicians | orderBy:'last_name' | filter: {deactivated_at: null}">
              <td class="expand-link">
                <a ng-href="/clinicians/{{clinician.id}}/edit">
                  {{ clinician.full_name }}<br />
                  <span class="buddy-id">CLIN.{{ clinician.id }}  {{ clinician.last_request_at.timestamp }}</span>
                </a>
              </td>
              <td class="clinician-last-request-at">
                <span ng-show="clinician.last_request_at" am-time-ago="clinician.last_request_at" ng-class="{inactive: clinician.last_request_at < twoWeeksAgo}"></span>
                <span ng-hide="clinician.last_request_at" class="invitation-sent">Invitation sent <span am-time-ago="clinician.created_at"></span></span>
              </td>
              <td class="user-count text-center">
                {{ clinician.active_service_user_count }}
              </td>
              <td class="user-count text-center">
                {{ clinician.inactive_service_user_count }}
              </td>
              <td class="user-count text-center">
                {{ clinician.deactivated_service_user_count }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div id="my-tab-content" class="tab-content">
      <div class="tab-pane active" id="deactivated">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Last logged in</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="clinician in clinicians | orderBy:'last_name' | filter: {deactivated_at: '!!'}">
              <td class="expand-link">
                <a ng-href="/clinicians/{{clinician.id}}/edit">
                  {{ clinician.full_name }}<br />
                  <span class="buddy-id">CLIN.{{ clinician.id }}  {{ clinician.last_request_at.timestamp }}</span>
                </a>
              </td>
              <td class="clinician-last-request-at">
                <span ng-show="clinician.last_request_at" am-time-ago="clinician.last_request_at" ng-class="{inactive: clinician.last_request_at < twoWeeksAgo}"></span>
                <span ng-hide="clinician.last_request_at" class="invitation-sent">Invitation sent <span am-time-ago="clinician.created_at"></span></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
