<div class="heading col-md-12">
  <div class="col-md-6 heading-unit-header">
    <h1>Clinicians</h1>
  </div>
  <div class="col-md-4 heading-unit">
    <form ng-submit="search()">
      <div class="input-group">
        <input type="text" class="form-control" ng-model="search_term" placeholder="Search for a user">
        <span class="input-group-btn">
          <input type="submit" value="S" class="btn btn-buddy">
        </span>
      </div>
    </form>
  </div>
  <div class="col-md-2 text-right heading-unit">
    <button type="button" class="btn btn-buddy" ng-click="addClinician()">Add a clinician</button>
  </div>
</div>

<div class="col-md-12 list-container">
  <table class="table table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Settings</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="clinician in clinicians">
        <td>{{ clinician.full_name }}</td>
        <td>Settings</td>
      </tr>
    </tbody>
  </table>
</div>
