<form class="form-horizontal" ng-submit="resetPassword()" name="resetPasswordForm" id="reset-password-form" ng-if="user.id">
  <fieldset class="col-md-4 col-md-offset-4">
    <legend class="text-center" ng-if="!user.last_request_at">You have been invited to use Buddy with your service users</legend>
    <legend class="text-center" ng-if="user.last_request_at">Reset password</legend>
    <div class="form-group" ng-if="!user.last_request_at">
      <div class="col-md-12">
        <input id="email" name="email" type="text" placeholder="email or mobile number" class="form-control input-md" ng-model="user.email" disabled="disabled">
      </div>
    </div>

    <p ng-class="{error: user.password_error}">Your password must be greater than 8 characters and contain at least 1 number, symbol or capital letter</p>

    <div class="form-group">
      <div class="col-md-12">
        <input id="password" name="password" type="password" placeholder="Password" class="form-control input-md" ng-model="user.password" ng-class="{error: user.password_error || user.password_confirmation_error}">
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-12">
        <input id="password_confirmation" name="password_confirmation" type="password" placeholder="Confirm Password" class="form-control input-md" ng-model="user.password_confirmation" ng-class="{error: user.password_error || user.password_confirmation_error}" data-content="Your password did not match, please try again" data-toggle="popover" data-placement="right" data-container="body">
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-12">
        <input type="submit" ng-if="!user.last_request_at" value="Start using Buddy" class="btn btn-info btn-block btn-lg">
        <input type="submit" ng-if="user.last_request_at" value="Change password and login" class="btn btn-info btn-block btn-lg">
      </div>
    </div>
  </fieldset>
</form>


<form class="form-horizontal" ng-submit="forgotPassword()" name="loginForm" ng-if="!user.id">
  <fieldset class="col-md-4 col-md-offset-4">
    <!-- Form Name -->
    <legend class="text-center">Expired link</legend>
    <p>The reset link you clicked has expired. Please request a new one by submitting your email below.</p>

    <!-- Text input-->
    <div class="form-group">
      <div class="col-md-12">
        <input id="email" name="email" type="text" placeholder="email or mobile number" class="form-control input-md" ng-model="password.email_or_mobile">
      </div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <div class="col-md-12">
        <input type="submit" value="Reset my password" class="btn btn-buddy btn-block btn-lg">
      </div>
    </div>

    <p>Or if you remember your password just <a href="/login">login</a></p>

  </fieldset>
</form>
