<div class="col-md-4 col-md-offset-4">
  <h2 class="text-center">Thank you</h2>
  <p>You entered:</p>
  <p class="email-or-mobile text-center">{{ email_or_mobile }}</p>
  <p>If we have this on record we will send you instructions to reset your password</p>
  <p>If you do not receive a message from us in the next 5 minutes, please check to see if the above email or phone number is correct. If it is not correct please <a href="/passwords/forgot">try again</a>, or contact your clinician</p>
</div>
