<div class="heading col-md-12">
  <div class="container">
    <div class="col-md-5 col-md-push-1 heading-unit-header">
      <h1>Service Users</h1>
    </div>
    <div class="col-md-3 heading-unit">
      <form ng-submit="search()">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="search_term" placeholder="Search for a user">
          <span class="input-group-btn">
            <input type="submit" value="S" class="btn btn-buddy">
          </span>
        </div>
      </form>
    </div>
    <div class="col-md-3 text-right heading-unit">
      <a ng-href="/service_users/new" class="btn btn-buddy">Add a service user</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-md-push-1 col-md-10 list-container">
    <ul id="tabs" class="nav nav-pills list-pills" data-tabs="tabs">
      <li class="active"><a href="#az" data-toggle="tab">A-Z</a></li>
      <li><a href="#deactivated" data-toggle="tab">Deactivated</a></li>
      <li><a href="#mine" data-toggle="tab">My users</a></li>
    </ul>
    <div id="my-tab-content" class="tab-content">
      <div class="tab-pane active" id="az">
        <table class="table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Next session</th>
              <th>Settings</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="serviceUser in serviceUsers | orderBy:last_name.toUpperCase() | filter:{deactivated_at: null}">
              <td class="expand-link"><a ng-href="/service_users/{{serviceUser.id}}">{{ serviceUser.full_name }}</a></td>
              <td ng-show="serviceUser.current_session_time">
                <a ng-click="rescheduleSession(serviceUser)">
                  <span am-time-ago="serviceUser.current_session_time"></span>
                </a>
              </td>
              <td ng-hide="serviceUser.current_session_time">
                <a ng-click="scheduleSession(serviceUser)">Rechedule</a>
                or
                <a ng-click="deactivate(serviceUser)">deactivate</a>
              </td>
              <td class="expand-link"><a ng-href="/service_users/{{serviceUser.id}}/edit">Settings</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tab-pane" id="deactivated">
        <table class="table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Reactivate user</th>
              <th>Settings</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="serviceUser in serviceUsers | orderBy:last_name.toUpperCase() | filter:{deactivated_at: '!!'}">
              <td class="expand-link"><a ng-href="/service_users/{{serviceUser.id}}">{{ serviceUser.full_name }}</a></td>
              <td><a ng-click="reactivate(serviceUser)">Reactivate</a></td>
              <td class="expand-link"><a ng-href="/service_users/{{serviceUser.id}}/edit">Settings</a></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="tab-pane" id="mine">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#unscheduled">
                  Unscheduled Users
                  <span class="badge user-count">{{ (serviceUsers | filter: {clinician_id: user.id, current_session_time: null}).length }}</span>
                </a>
              </h4>
            </div>
            <div id="unscheduled" class="panel-collapse collapse">
              <table class="table table-bordered table-hover table-striped panel-table" ng-show="(serviceUsers | filter: {clinician_id: user.id, current_session_time: null}).length > 0">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Next session</th>
                    <th>Settings</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="serviceUser in serviceUsers | orderBy:last_name.toUpperCase() | filter:{clinician_id: user.id, current_session_time: null}">
                    <td class="expand-link"><a ng-href="/service_users/{{serviceUser.id}}">{{ serviceUser.full_name }}</a></td>
                    <td ng-show="serviceUser.current_session_time"><span am-time-ago="serviceUser.current_session_time"></span></td>
                    <td ng-hide="serviceUser.current_session_time">
                      <a ng-click="newSession(serviceUser)">Reschedule</a>
                      or
                      <a ng-click="deactivate(serviceUser)">deactivate</a>
                    </td>
                    <td class="expand-link"><a ng-href="/service_users/{{serviceUser.id}}/edit">Settings</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#scheduled">
                  Scheduled users
                  <span class="badge user-count">{{ (serviceUsers | filter: {clinician_id: user.id, current_session_time: '!!'}).length }}</span>
                </a>
              </h4>
            </div>
            <div id="scheduled" class="panel-collapse collapse in">
              <table class="table table-bordered table-hover table-striped panel-table" ng-show="(serviceUsers | filter: {clinician_id: user.id, current_session_time: '!!'}).length > 0">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Next session</th>
                    <th>Settings</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="serviceUser in serviceUsers | orderBy:'-current_session_time' | filter:{clinician_id: user.id, current_session_time: '!!'}">
                    <td class="expand-link"><a ng-href="/service_users/{{serviceUser.id}}">{{ serviceUser.full_name }}</a></td>
                    <td ng-show="serviceUser.current_session_time">
                      <a ng-click="rescheduleSession(serviceUser)">
                        {{ serviceUser.current_session_time | ordinalDate: 'HH:mm / d MMMM yyyy' }}
<!--
                        <span am-time-ago="serviceUser.current_session_time"></span>
-->
                      </a>
                    </td>
                    <td class="expand-link"><a ng-href="/service_users/{{serviceUser.id}}/edit">Settings</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
