<div class="container diary">
  <div class="row">
    <div class="col-md-10 col-md-push-1">
      <div class="col-md-4" id="diary-menu">
        <ul class="nav nav-stacked buddy-nav" id="sidebar">
          <li class="nextSession nav-item">
            <a ng-click="show('nextSession')">
              <span class="iconic" data-glyph="calendar" title="calendar" aria-hidden="true"></span>
              <span class="title">
                           Next session:
                           <span class="next-session" ng-show="sessionScheduledTime">{{ sessionScheduledTime | ordinalDate: "MMMM d 'at' HH:mm" }}</span>
                           <span class="next-session" ng-hide="sessionScheduledTime">None</span>
                    </span>
            </a>
          </li>
          <li class="settings nav-item">
            <a ng-click="show('settings')">
              <span class="iconic" data-glyph="person-genderless" title="person" aria-hidden="true"></span>
              <span class="title">{{ service_user.full_name }}</span>
              <span class="buddy-id">{{ service_user.buddy_id }}</span><br />
              <span class="mobile">{{ service_user.mobile }}</span>
            </a>
          </li>
          <li class="active diaryEntries nav-item">
            <a ng-click="show('diaryEntries')">
              <span class="iconic" data-glyph="book" title="book" aria-hidden="true"></span>
              <span class="title">Diary entries<br /></span>
              <span class="entry-count">
                <ng-pluralize count="entries.length"
                              when="{'0': 'No entries',
                                    'one': '1 entry',
                                    'other': '{} entries'}">
                </ng-pluralize>
              </span>
            </a>
          </li>
          <li class="sessionPlan nav-item">
            <a ng-click="show('sessionPlan')">
              <span class="iconic" data-glyph="copywriting" title="copywriting" aria-hidden="true"></span>
              <span class="title">Session plan</span>
            </a>
          </li>
          <li class="textMessage nav-item">
            <a ng-click="show('textMessage')">
              <span class="iconic" data-glyph="comment-square" title="comment-square" aria-hidden="true"></span>
              <span class="title">Text Message</span>
            </a>
          </li>
          <li class="goals nav-item">
            <a ng-click="show('goals')">
              <span class="iconic" data-glyph="circle-check" title="circle-check" aria-hidden="true"></span>
              <span class="title">Goals<br /></span>
              <span class="goal-count">
                <ng-pluralize count="goals.length"
                              when="{'0': 'No goals set',
                                    'one': '1 goal set',
                                    'other': '{} goals set'}">
                </ng-pluralize>
              </span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-8" id="next-session">
        <div class="col-md-12 diary-page-contents-wrapper diary-page-contents" id="nextSession">
          <h2 class="text-center title">Next session</h2>
          <form ng-submit="updateSession(nextSession)">
            <div class="form-group">
              <div class="modal-input-group input-group by-timepicker-in-modal col-md-3">
                <input type="text" datepicker-popup="dd/MM/yyyy" is-open="$parent.opened" min-date="minDate" ng-required="true" close-text="Close" ng-click="open($event)" ng-model="nextSession.scheduled_time" class="form-control" />
              </div>
              <div class="modal-input-group input-group col-md-3">
                <timepicker ng-model="nextSession.scheduled_time" hour-step="hstep" minute-step="mstep" show-meridian="false"></timepicker>
              </div>
              <div class="input-group by-timepicker-in-modal col-md-6 text-right">
                <input type="submit" value="Save changes" class="btn-buddy btn">
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-12 diary-page-contents-wrapper diary-page-contents" id="settings">
          <form ng-submit="submit()">
            <div class="col-md-6">
              <div class="form-group required">
                <label for="service_user_first_name" ng-class="{error: errors.first_name}">
                  First Name
                  <span class="error-inline" ng-show="errors.first_name">{{ errors.first_name }}</span>
                </label>
                <input type="text" ng-model="service_user.first_name" placeholder="" class="form-control input-md" id="service_user_first_name">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group required">
                <label for="service_user_last_name" ng-class="{error: errors.last_name}">
                  Last Name
                  <span class="error-inline" ng-show="errors.last_name">{{ errors.last_name }}</span>
                </label>
                <input type="text" ng-model="service_user.last_name" placeholder="" class="form-control input-md" id="service_user_last_name">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group required">
                <label for="service_user_mobile" ng-class="{error: errors.mobile}">
                  Mobile Phone Number
                  <span class="error-inline" ng-show="errors.mobile">{{ errors.mobile }}</span>
                </label>
                <input type="text" ng-model="service_user.mobile" placeholder="" class="form-control input-md" id="service_user_mobile">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="service_user_email" ng-class="{error: errors.email}">
                  Email Address
                  <span class="error-inline" ng-show="errors.email">{{ errors.email }}</span>
                </label>
                <input type="text" ng-model="service_user.email" placeholder="" class="form-control input-md" id="service_user_email">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="service_user_nhs_number">NHS Number</label>
                <input type="text" ng-model="service_user.nhs_number" placeholder="" class="form-control input-md" id="service_user_nhs_number">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group required">
                <label for="service_user_clinician">Primary Clinician</label>
                <select class="form-control" ng-model="service_user.clinician_id" ng-options="clinician.id as clinician.full_name for clinician in clinicians | orderBy: 'last_name' | filter: {deactivated_at: null}"></select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="service_user_license_expiry_date">License Expiry Date</label>
                <input type="text" ng-model="service_user.license_expiry_date" placeholder="" class="form-control input-md" id="service_user_license_expiry_date" disabled="disabled">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group required">
                <label for="service_user_clinician">Team</label>
                <select class="form-control" ng-model="service_user.account_id" ng-options="team.id as team.name for team in teams">
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <hr>
            </div>

            <div class="col-md-12 text-center footer">
              <span ng-show="service_user.deactivated_at">
                This user has been deactivated
                <a ng-click="reactivate(service_user.id)">Reactivate this user</a>
              </span>
              <a ng-hide="service_user.deactivated_at" ng-href="/service_users/{{service_user.id}}/deactivate?returnTo=%2Fservice_users%2F{{service_user.id}}">
                Deactivate this user
              </a>
            </div>

            <div class="col-md-12 footer">
              <div class="col-md-6 text-right">
                <input type="submit" class="btn btn-buddy right" value="Save">
              </div>
              <div class="col-md-6 cancel-button">
                <a href="/service_users">Cancel</a>
              </div>
            </div>
          </form>

        </div>
        <div class="col-md-12 diary-page-contents-wrapper" id="diaryEntries">
          <div class="diary-page-contents col-md-12 text-center">
            <h2 class="title">Diary Entries and Mood Graph</h2>
            <div class="col-md-12">
              <div class="progress">
                <div class="progress-bar" ng-style="{{value}}" ng-repeat="(key, value) in progress" ng-class="key">
                </div>
              </div>
            </div>
            <div class="col-md-12 rating-selectors">
              <div class="col-md-2 rating-selector rating-selector-all"
                   ng-class="{active: diaryFilter == null}"
                   ng-click="setDiaryFilter(null)">
                All
              </div>
              <div class="col-md-2 rating-selector rating-selector-one"
                   ng-class="{active: diaryFilter === 1}"
                   ng-click="setDiaryFilter(1)">
                Well Below Average
              </div>
              <div class="col-md-2 rating-selector rating-selector-two"
                   ng-class="{active: diaryFilter === 2}"
                   ng-click="setDiaryFilter(2)">
                Below Average
              </div>
              <div class="col-md-2 rating-selector rating-selector-three"
                   ng-class="{active: diaryFilter === 3}"
                   ng-click="setDiaryFilter(3)">
                Average
              </div>
              <div class="col-md-2 rating-selector rating-selector-four"
                   ng-class="{active: diaryFilter === 4}"
                   ng-click="setDiaryFilter(4)">
                Above Average
              </div>
              <div class="col-md-2 rating-selector rating-selector-five"
                   ng-class="{active: diaryFilter === 5}"
                   ng-click="setDiaryFilter(5)">
                Well Above Average
              </div>
            </div>
          </div>
          <div class="col-md-12 session-container" ng-repeat="session in sessions" ng-class="{closed: !session.visible, present: session.id === 'present'}">
            <div class="col-md-12 session">
              <div class="col-md-2 calendar-container">
                <div class="calendar col-md-12 text-center">
                  <div class="calendar-top">
                    SESSION
                  </div>
                  <div class="calendar-bottom">
                    {{ session.index }}
                  </div>
                </div>
              </div>
              <div class="col-md-10 progress-container">
                Session: {{ session.scheduled_time | ordinalDate: 'd MMMM'}}<br />
                <ng-pluralize count="session.entries.length"
                              when="{'0': 'No entries',
                                    'one': '1 entry',
                                    'other': '{} entries'}">
                </ng-pluralize>
                <div class="progress">
                  <div class="progress-bar" ng-style="{{value}}" ng-repeat="(key, value) in session.progress" ng-class="key">
                  </div>
                </div>
              </div>
              <p class="text-right" ng-show="session.entries.length > 0">
                <a ng-click="toggleEntries(session)">
                  <span ng-show="session.visible">Hide entries</span>
                  <span ng-hide="session.visible">Show entries</span>
                </a>
              </p>
            </div>
            <div ng-repeat="entry in session.entries" class="entry col-md-12"
                 ng-class="{'{{entry.rating_class}}': true, 'first': $index === 0, 'hidden': diaryFilter != null && diaryFilter !== entry.rating}">
              <div class="col-md-2">
                <div class="calendar col-md-12 text-center">
                  <div class="calendar-top">
                    {{ entry.created_at | date: 'MMMM' | uppercase }}
                  </div>
                  <div class="calendar-bottom">
                    {{ entry.created_at | ordinalDate: 'd' }}<br />
                    {{ entry.created_at | date: 'EEEE' | uppercase }}
                  </div>
                </div>
              </div>
              <div class="col-md-10">
                {{ entry.body }}
                <p class="text-right mood">{{ entry.mood }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 diary-page-contents diary-page-contents-wrapper" id="sessionPlan">
          <div class="col-md-12">
            <p>What would you like to talk about during your next
              session? Since your last session, what went well? Did you
              meet your goals? What was stopping you?</p>
            <form ng-submit="submitSessionPlan(currentSession)">
              <div class="form-group">
                <textarea ng-model="currentSession.session_plan" class="form-control" rows="3"></textarea>
              </div>
              <div class="form-group">
                <input type="submit" value="Save session plan" class="btn btn-buddy">
              </div>
            </form>
          </div>
        </div>

        <div class="col-md-12 diary-page-contents diary-page-contents-wrapper" id="textMessage">
          <h2 class="title text-center">Text message</h2>

          <form ng-submit="updateTextMessage()">
            <div class="col-md-12">
              <select ng-model="service_user.type_of_message" ng-options="k as v for (k,v) in typesOfMessage"></select>
            </div>
            <div class="col-md-12" ng-show="service_user.type_of_message = 'custom'">
              <textarea class="form-control" ng-model="service_user.daily_entry_text_message"></textarea>
            </div>
            <div class="col-md-12">
              <label class="checkbox-inline text-message-days" ng-repeat="day in Days">
                <input type="checkbox" ng-model="service_user.daily_entry_schedule[day]"/>
                {{ day | limitTo: 3 }}
              </label>
            </div>
            <div class="col-md-12">
              <input type="submit" value="Save" class="btn btn-buddy" />
            </div>
          </form>
        </div>

        <div class="col-md-9 diary-page-contents diary-page-contents-wrapper" id="goals">
          <div class="current-goals col-md-12" ng-show="(goals | filter: {removed_at: null, editable: '!'}).length > 0">
            <h2 class="title text-center">Goals</h2>
            <div class="row" ng-repeat="goal in goals | filter: {removed_at: null, editable: '!'}">
              <div class="col-md-9">
                <label>
                  <input type="checkbox" ng-model="goal.removed" ng-change="toggleGoalChanged(goal)">
                  {{ goal.text }}
                  <span></span>
                </label>
              </div>
              <div class="col-md-3">
                <a ng-click="editGoal(goal)">edit</a>
              </div>
            </div>
          </div>

          <div class="editable-goals col-md-12" ng-show="(goals | filter: {editable: '!!'}).length > 0">
            <div class="row" ng-repeat="goal in goals | filter: {editable: '!!'}">
              <form action="updateGoal(goal)">
                <div class="input-group col-md-8">
                  <input type="text" ng-model="goal.text" class="form-control" />
                </div>
                <div class="input-group col-md-4 text-right">
                  {{ 140-goal.text.length }}<br />
                  <a ng-click="showGoalExamples()">Examples</a>
                </div>
                <div class="col-md-12">
                  <label class="radio-inline"><input type="radio" ng-model="goal.reminder_type" value="recurring">Recurring</label>
                  <label class="radio-inline"><input type="radio" ng-model="goal.reminder_type" value="once">One-off</label>
                  <label class="radio-inline"><input type="radio" ng-model="goal.reminder_type" value="none">None</label>
                </div>
                <div class="col-md-12" ng-show="goal.reminder_type === 'recurring'">
                  <label class="checkbox-inline" ng-repeat="day in Days">
                    <input type="checkbox" ng-model="goal.day[day]"/>
                    {{ day | limitTo: 1 | uppercase }}
                  </label>
                </div>
                <div class="input-group col-md-12" ng-show="goal.reminder_type === 'once'">
                  <input type="text" datepicker-popup="dd/MM/yyyy" is-open="$parent.opened" min-date="minDate" ng-required="true" close-text="Close" ng-click="open($event)" ng-model="goal.time" class="form-control"/>
                </div>
                <div class="input-group col-md-12" ng-show="goal.reminder_type === 'recurring' || goal.reminder_type === 'once'">
                  <timepicker ng-model="goal.time" hour-step="hstep" minute-step="mstep" show-meridian="false"></timepicker>
                </div>
                <div class="input-group col-md-12">
                  <input type="submit" value="Save goal" class="btn-buddy btn">
                  <a ng-click="cancelEditGoal(goal)">cancel</a>
                </div>
              </form>
            </div>
          </div>

          <div class="new-goal col-md-12">
            <h2 class="text-center title">New Goal</h2>
            <form action="newGoalSubmit()">
              <div class="input-group col-md-8">
                <input type="text" ng-model="newGoal.text" class="form-control" />
              </div>
              <div class="input-group col-md-4 text-right">
                {{ 140-newGoal.text.length }}<br />
                <a ng-click="showGoalExamples()">Examples</a>
              </div>
              <div class="col-md-12">
                <label class="radio-inline"><input type="radio" ng-model="newGoal.reminder_type" value="recurring">Recurring</label>
                <label class="radio-inline"><input type="radio" ng-model="newGoal.reminder_type" value="once">One-off</label>
                <label class="radio-inline"><input type="radio" ng-model="newGoal.reminder_type" value="none">None</label>
              </div>
              <div class="col-md-12" ng-show="newGoal.reminder_type === 'recurring'">
                <label class="checkbox-inline" ng-repeat="day in Days">
                  <input type="checkbox" ng-model="newGoal.day[day]"/>
                  {{ day | limitTo: 1 | uppercase }}
                </label>
              </div>
              <div class="input-group col-md-12" ng-show="newGoal.reminder_type === 'once'">
                <input type="text" datepicker-popup="dd/MM/yyyy" is-open="$parent.opened" min-date="minDate" ng-required="true" close-text="Close" ng-click="open($event)" ng-model="newGoal.time" class="form-control"/>
              </div>
              <div class="input-group col-md-12" ng-show="newGoal.reminder_type === 'regular' || newGoal.reminder_type === 'once'">
                <timepicker ng-model="newGoal.time" hour-step="hstep" minute-step="mstep" show-meridian="false"></timepicker>
              </div>
              <div class="input-group col-md-12">
                <input type="submit" value="Add Goal" class="btn-buddy btn">
              </div>
            </form>
          </div>

          <div class="past-goals col-md-12" ng-show="(goals | filter: {removed_at: '!!'}).length > 0">
            <h2 class="title text-center">Past goals</h2>
            <div class="row" ng-repeat="goal in goals | filter: {removed_at: '!!'}">
              <div class="col-md-9" ng-hide="goal.editable">
                <label>
                  <input type="checkbox" ng-model="goal.removed" ng-change="toggleGoalChanged(goal)">
                  {{ goal.text }}
                  <span></span>
                </label>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
