<div class="container diary">
  <div class="row">
    <div class="col-md-3" id="diary-menu">
      <ul class="nav nav-stacked buddy-nav" id="sidebar">
        <li>
          <a ng-click="show('nextSession')">
            Next session:
            <span>{{ sessionScheduledTime | ordinalDate: "MMMM d 'at' hh:mm" }}</span>
          </a>
        </li>
        <li>
          <a ng-click="show('settings')">
            {{ user.full_name }}
            <span>{{ user.buddy_id }}</span><br />
            <span>{{ user.mobile }}</span>
          </a>
        </li>
        <li class="active">
          <a ng-click="show('diaryEntries')">
            Diary entries
            <span>
              <ng-pluralize count="entries"
                            when="{'0': 'No entries',
                                  'one': '1 entry',
                                  'other': '{} entries'}">
              </ng-pluralize>
            </span>
          </a>
        </li>
        <li><a ng-click="show('sessionPlan')">Session plan</a></li>
        <li><a ng-click="show('textMessage')">Text Message</a></li>
        <li>
          <a ng-click="show('goals')">
            Goals
            <span>
              <ng-pluralize count="entries"
                            when="{'0': 'No goals set,
                                  'one': '1 goal set,
                                  'other': '{} goals set}">
              </ng-pluralize>
            </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-9" id="next-session">
      <div class="col-md-12 diary-page-contents" id="nextSession">
        {{ user }}
      </div>
      <div class="col-md-12 diary-page-contents" id="settings">
        {{ entries }}
      </div>
      <div class="col-md-12 diary-page-contents" id="diaryEntries">
        {{ entries }}
      </div>
      <div class="col-md-12 diary-page-contents" id="sessionPlan">
        {{ entries }}
      </div>
      <div class="col-md-12 diary-page-contents" id="textMessage">
        {{ entries }}
      </div>
      <div class="col-md-12 diary-page-contents" id="goals">
        {{ entries }}
      </div>
    </div>
  </div>
</div>
