<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Urgent Help</h2>
      <p>If you find yourself in crisis and feel that you need urgent help with your condition, you should not seek help by entering this issue on Buddy App as your clinician does not routinely monitor these entries between your appointments.</p>
      <p>A mental health crisis includes:</p>
      <ul>
        <li>suicidal behaviour or intention</li>
        <li>panic attacks/extreme anxiety</li>
        <li>psychotic episodes (loss of sense of reality, hallucinations, hearing voices)</li>
        <li>other behaviour that seems out of control or irrational and that is likely to endanger yourself or others</li>
      </ul>
      <p>Instead you should contact your clinician using the contact details the service has provided or the out-of-hours numbers they have advised you of.</p>
      <p>If you do not have these details to hand, we recommend that you use the following resources:</p>
      <ul>
        <li><a href="http://www.nhs.uk/Livewell/mentalhealth/Pages/gethelp.aspx">NHS Choices can provide you with general advice and advise you of the services that might be suitable and available in your area</a></li>
        <li>You can call NHS Direct twenty four hours a day on <a href="tel:111">111</a> and speak to one of their trained Health Advisors who will ask you a series of questions about how you feel. Based on your responses, they will give advice on how best to proceed</li>
        <li>Make an urgent appointment to see your GP by calling the practice – many practices offer daily drop-in appointments for people who need to be seen urgently</li>
        <li><a href="http://www.nhs.uk/Service-Search/Accident%20and%20emergency%20services/LocationSearch/428">Go to your local NHS Accident &amp; Emergency Department</a></li>
      </ul>
      <h2>FAQs</h2>
      <h3>What is Buddy?</h3>
      <p>Buddy is an electronic diary to help you to understand the things that you do and how they make you feel. Buddy can be a foundation, a connection, a platform to help you to understand your feelings and make decisions based on that understanding. Buddy enables you to spot patterns by looking to your past to inform your future and by sharing this with your health professional, it allows you to set the agenda for your sessions and to collaborate to set positive goals to help with your journey to recovery.</p>
      <h3>Who is Buddy for?</h3>
      <p>Buddy isn't limited to any individual or group. It is offered as part of your care plan to help you keep a daily diary of your thoughts, feelings and behaviours. It helps people better manage their health and take control of their therapy, which increases the effectiveness of your health care programme.</p>
      <h3>What does Buddy do?</h3>
      <p>Buddy is an online diary that helps you focus on the things that make you feel better. Buddy uses text messaging (SMS) to help you record entries about your day online. You can then analyse them, use them to plan and to share them with your health professional. Buddy sends you one text (SMS) per day inviting you to record your mood and your activities for that day. This information is then logged onto your own private diary, where you can track your moods, thoughts, feelings and behaviours using the simple filter tools. This allows you to make a connection between the things you do and your well-being. Your clinician will be able to view your entries so that they gain a richer insight into your life, symptoms and support your recovery.</p>
      <p>Buddy uses a technique known as behavioural activation. Together with your clinician or on your own you can set goals and choose to receive a text reminder about them. This helps you stay focused on what you want to accomplish and will aid your recovery.</p>
      <p>24 hours before your appointment, you will be asked to set an agenda for your meeting via SMS, which you can set in your private diary. Finally 2 hours before your scheduled session, you will receive a further appointment reminder.</p>
      <h3>Is Buddy free?</h3>
      <p>Access to Buddy is free to service users, but using the system will need you to send SMS text messages from your mobile phone. The cost of this will need to be covered as part of your normal mobile phone costs. Where you pay for your mobile phone under contract, the cost of these text messages may be included in your package. Where you use pay-as-you go, if you buy top-up bundles, the cost may also be included in the package.</p>
      <h3>Is it hard to use Buddy?</h3>
      <p>Using Buddy is very easy. Just rate your day from 1-5, write a little bit about what you did and review your progress to decide what you want to do next. Buddy will send you easy-to-follow messages about what to do next.</p>
      <h3>If I start using Buddy, can I stop?</h3>
      <p>You can use Buddy as much or as little as you like. We think the more you use Buddy, the more it can help you and the more you will get out of other services you might be using, particularly psychological therapy sessions. Taking part is completely voluntary and you can leave at any time. Most people find it useful to keep using Buddy while they are receiving other NHS services under the care of a health professional. At the completion of your treatment, it is possible to suspend your Buddy account in case you and your health professional want to refer back to it or re-activate it at a later stage.</p>
      <h3>Unsubscribing from daily text messages</h3>
      <p>If you do not wish to receive daily or weekly SMS messages from us, you can either reply to a daily text by texting back 'STOP' or you can log on to the site, go to 'Text Message' and turn off daily text messages.</p>
      <h3>Can I change the default time and frequency of the daily text message?</h3>
      <p>You can log on to the site, go to 'Text Message' and set the days and the time of when you receive your text messages.</p>
      <h3>Is what I write confidential and secure?</h3>
      <p>Yes, what you write is completely confidential to you and your health professional. If you'd like to know more about the privacy and security of the service, please see <a href="/privacy">the privacy policy</a></p>
      <h3>Can I use Buddy whilst I'm travelling/outside the UK?</h3>
      <p>Yes, but you should check costs of sending a text message or browsing the Internet with your mobile phone network provider.</p>
      <h3>What happens if I lose my phone?</h3>
      <p>Some data about your feelings may be stored in your SMS outbox, but you can still access Buddy securely online. We recommend that you always protect access to data on your mobile phone by activating the password protection function.</p>
      <h3>I have a question not shown here?</h3>
      <p>Please contact us at <a href="mailto:contact@buddyapp.co.uk">contact@buddyapp.co.uk</a></p>
    </div>
  </div>
</div>
