<div class="form-container col-md-4 col-md-offset-4">
  <form class="form-horizontal" ng-submit="login()" name="loginForm">
    <fieldset>
      <!-- Form Name -->
      <legend class="text-center">
        <h1>Login to Buddy</h1>
      </legend>

      <p class="alert alert-danger" ng-show="login_error">Please enter the right username and password</p>

      <!-- Text input-->
      <div class="form-group">
        <div class="col-md-12">
          <input id="email" name="email" type="text" placeholder="email or mobile number" class="form-control input-md" ng-model="user.email">
        </div>
      </div>

      <!-- Password input-->
      <div class="form-group">
        <div class="col-md-12">
          <input id="password" name="password" type="password" placeholder="password" class="form-control input-md" ng-model="user.password">
        </div>
      </div>

      <div class="checkbox">
        <label>
          <input id="remember-me" name="remember_me" type="checkbox"  ng-model="user.remember_me">
          Remember me on this computer<br />
          <span class="small">Do not use on public computers</span>
        </label>
      </div>

      <!-- Button -->
      <div class="form-group">
        <div class="col-md-12">
          <input type="submit" value="Login" class="btn btn-buddy btn-block btn-lg">
        </div>
      </div>

      <p class="forgot-password"><a href="/passwords/forgot">Forgot your password?</a></p>
    </fieldset>
  </form>
</div>

<script>
  $('input').placeholder();
</script>
