<div class="home">
  <div class="container-fluid title">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-1">
          <img class="img-responsive" src="/images/logo.png" />
        </div>
        <div class="col-md-6">
          <iframe src="//player.vimeo.com/video/76819326" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
          </iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid features">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-1">
          <div class="features-step">
            <div class="number">1</div>
            <div class="step-title">Features</div>
          </div>
        </div>
        <div class="col-md-7 feature-text">
          <p>
          Buddy is a digital tool to support therapy services. Clients use text messaging to keep a daily diary of what they are doing and how they are feeling, helping to spot and reinforce positive behaviours.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-md-3">
          <div class="thumbnail">
            <img class="img-responsive" src="/images/spotlight1.png" />
            <div class="caption">
              <h3>Daily diary</h3>
              <p>Allow your clients to use SMS or web to record moods and activities</p>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="thumbnail">
            <img class="img-responsive" src="/images/spotlight2.png" />
            <div class="caption">
              <h3>Analysis tools</h3>
              <p>Enable users to reflect on and understand their own condition</p>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="thumbnail">
            <img class="img-responsive" src="/images/spotlight3.png" />
            <div class="caption">
              <h3>Behaviour change tools</h3>
              <p>Clients can set and receive timely goal reminders by SMS</p>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="thumbnail">
            <img class="img-responsive" src="/images/spotlight4.png" />
            <div class="caption">
              <h3>Session planning</h3>
              <p>Remind users of appointments and enable them to set the agenda</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid vision">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-1">
          <div class="vision-step">
            <div class="number">2</div>
            <div class="step-title">Vision</div>
          </div>
        </div>
        <div class="col-md-7">
        </div>
      </div>
      <div class="row">
        <div carousel="" interval="interval" no-transition="true" no-pause="false">
          <div slide="" ng-repeat="slide in slides" active="slide.active" style="height: 540px;">
            <div class="carousel-caption">
              <h3>{{slide.title}}</h3>
              <p>{{slide.text_1}}</p>
              <p>{{slide.text_2}}</p>
            </div>
            <img class="img-responsive" ng-src="{{slide.image}}">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid benefits">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-1">
          <div class="benefits-step">
            <div class="number">3</div>
            <div class="step-title">Benefits</div>
          </div>
        </div>
        <div class="pull-quote col-md-7">
          <blockquote>
            <p class="text-left">
            Buddy Enterprises is a user friendly, interactive life planning tool which empowers individuals in their recovery journey.
            </p>
            <footer>
              ~ Michael Duignan-Murphy, Service Development Manager, MCCH
            </footer>
          </blockquote>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-md-3">
          <div class="thumbnail">
            <img class="img-responsive" src="/images/spotlight5.png" />
            <div class="caption">
              <h3>Offers rich insight into your client's life in-between sessions</h3>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="thumbnail">
            <img class="img-responsive" src="/images/spotlight6.png" />
            <div class="caption">
              <h3>Creates more time in therapy to focus on goals and behaviour change</h3>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="thumbnail">
            <img class="img-responsive" src="/images/spotlight7.png" />
            <div class="caption">
              <h3>Reminds users of appointments and encourages them to set their own agendas</h3>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="thumbnail">
            <img class="img-responsive" src="/images/spotlight8.png" />
            <div class="caption">
              <h3>Provides behavioural activation tools to promote more effective recovery</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="container-fluid get-buddy">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-1">
        <div class="get-buddy-step">
          <div class="number">4</div>
          <div class="step-title">Get Buddy</div>
        </div>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <p class="text-left buddy-text">
        We see Buddy being adapted for long-term conditions where there is a link between lifestyle behaviour, physical health and mental well-being. For now, we're rolling out Buddy to support psychological therapy services for people with depression and anxiety, and in Early Intervention in Psychosis (eiP) services.
        </p>
      </div>
    </div>
    <div class="row dotted-boxes">
      <div class="col-md-4 col-md-offset-1">
        <h3>Contact us</h3>
        <span class="job-title">Syed Abrar</span><br/>
        <span class="phone">020 7490 7178</span><br/>
        <img class="img-responsive" src="/images/syed.jpg" /><br/>
        <span class="phone">Or email </span><a href="mailto:info@buddyapp.co.uk" class="btn btn-primary">info@buddyapp.co.uk</a>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <h3 class="dense">Who is it for?</h3>
        <p>Because we believe in care at the intersection, Buddy was designed to be used by and with therapists, and is not intended to be available directly to individuals.</p>
        <h3 class="dense">How is it priced?</h3>
        <p>We believe in simple, transparent pricing plans. The more users you make Buddy available for, the cheaper it is.</p>
        <p>Contact us for details</p>
      </div>
    </div>
  </div>
  </div>

  <div class="container-fluid team">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-1">
          <div class="team-step">
            <div class="number">5</div>
            <div class="step-title">Who is behind this?</div>
          </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <p class="text-left team-text">
            Buddy is a social innovation company, passionate about using design and technology to tackle social problems. We believe in bringing together simple technologies and great design to create products that matter. Buddy App is our first product and is born from our passion for creating 21st Century Therapy.
          </p>
        </div>
      </div>
      <div class="row">
        <img src="/images/team.jpg" class="img-responsive center-block img-thumbnail" />
      </div>
      <div class="row more-info">
        <div class="col-md-4 col-md-offset-1">
          <p class="text-left">
          Buddy is currently being rolled our nationally, working with trusts including Nottinghamshire Healthcare NHS Trust, Kent and Medway NHS Trust, Pennine Care NHS Foundation Trust, Oxleas NHS Foundation Trust, Derbyshire Healthcare NHS Foundation Trust, Sheffield Health and Care NHS Foundation Trust, Black Country Partnership NHS Foundation Trust, North Hampshire Urgent Care and a number of other statutory and non-statutory providers.
          </p>
        </div>
        <div class="col-md-6">
          <h3>Recognition, Awards & Press</h3>
          <ul class="awards">
            </li>Most Innovative Use of Existing Digital Technology Applied To Health/Social Care - PDD Awards 2015 </li>
            <li>Meffy's 2014 Finalist 'mHealth' Award</li>
            <li>Finalist 2012 and 2014 - Innovation in Mental Health HSJ Awards</li>
            <li>'Ones to Watch' 2013 Global Defence Technology Winner</li>
            <li>Big Venture Challenge 2013 Winner</li>
            <li>Gold Award, Community & Social - The Lovie Awards</li>
            <li>Published in the British Journal of Wellbeing</li>
            <li>Published in the Social Work and Social Sciences Review Journal</li>
            <li>Selected by National Endowment Society, Technology and the Arts (NESTA) as a radical digital public service</li>
            <li>Real Business magazine 50 most exciting businesses in the UK 2011</li>
            <li>Featured on BBC Radio 4 programme You and Yours</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid footer">
    <div class="row">
      <div class="col-xs-2 col-md-1 col-md-offset-1">
        <img class="img-responsive" src="/images/buddy_logo_white.png" />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-md-3 col-md-offset-1">
        <p>
        &copy; 2012-2015 Buddy Enterprises Ltd <br />
        All rights reserved
        </p>
      </div>
      <div class="col-xs-6 col-md-3">
        <ul>
          <li><a href="/help">Help/Frequently Asked Questions</a></li>
          <li><a href="/terms">Terms & Conditions</a></li>
          <li><a href="/privacy">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-md-3">
        <p>
        Contact<br/>
        For business queries <a href="mailto:info@buddyapp.co.uk">
          info@buddyapp.co.uk
        </a> <br />
        For technical queries <a href="mailto:contact@buddyapp.co.uk">
          contact@buddyapp.co.uk
        </a> <br />
        Twitter<br/>
        <a href="https://twitter.com/buddyappuk">
          @buddyappuk
        </a>
        </p>
      </div>
      <div class="col-xs-6 col-md-3">
      </div>
    </div>
  </div>

</div>
