<div class="home">
  <div class="container-fluid intro">
    <div class="row">
      <div class="col-md-6 col-md-offset-1">
        <h1>Welcome to Buddy</h1>
        <p>
        Buddy is a diary that you create through text messages. It helps improve the conversations between you and your clinician to assist in your recovery.
        </p>
        <p>&nbsp;</p>
        <p>
        <a href="http://vimeo.com/76819326" data-width="960" data-remote="http://player.vimeo.com/video/76819326" data-toggle="lightbox"><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> Watch how Buddy is used in Talking Therapies</a>
        </p>
      </div>
      <div class="col-md-4">
        <img src="/images/laptop.png" />
      </div>
    </div>
  </div>

  <div class="container-fluid how-it-works">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="">
          <h2>How it works</h2>
          <p>
          Your clinician will sign you up to Buddy. That evening you will get a text from Buddy asking how your day was. Simply reply to the text and write about what you did and how you felt that day. You'll then rate the day with a number from 1 to 5, this comes in really handy when you look back at your entries.
          </p>
          <img src="/images/speech_bubble.png" class="center-block" />
          <p>
          Over the next week Buddy will text you every day and by replying you'll begin to build your mood diary. At any point you can <a href="/login">login</a> to Buddyapp.com and see all your diary entries.
          </p>
          <img src="/images/keyboard.png" class="center-block" />
          <p>
          Before the next session with your clinician, Buddy will ask you to fill our a Session Plan. Here you can plan what you would like to talk about and review the week. Buddy also sends you appointment reminders, so you'll always be prepared.
          </p>
          <img src="/images/buddy_interface.png" class="center-block" />
          <p>
          Your clinician also has access to your Buddy diary, they will check it just before your next session and may use it during the session. By using Buddy your clinician will get a better understanding of your life between appointments which means together you'll be able to spot patterns and make connections between your mood and activity.
          </p>
          <img src="/images/connections.png" class="center-block" />
          <p>
          At the end of your therapy session you can use Buddy to set goals for the coming weeks and even set text reminders to help motivate and remind you of the little things that will help in your recovery. So that's Buddy, a digital mood diary which enhances therapy sessions and supports your recovery. If you've already been signed up to Buddy you can <a href="login">login</a> to see your diary entries.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid faq-info">
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
          <img src="/images/avatar.png" />
          <div class="caption">
            <h3>Who is it for?</h3>
            <p>
            Buddy is a tool for people receiving therapy. It's used to enhance the recovery from a wide range of conditions including anxiety, depression and many others.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
          <img src="/images/nokia.png" />
          <div class="caption">
            <h3>Do I need a smartphone?</h3>
            <p>
            Nope. Buddy runs on good old fashioned text messages because they are cheap, discrete and easy to use.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
          <img src="/images/coin.png" />
          <div class="caption">
            <h3>How much does it cost?</h3>
            <p>
            Buddy is free for service users, you just need to pay for the texts you send to Buddy but these are often free as part of your contract or top-up bundle.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
          <img src="/images/lock.png" />
          <div class="caption">
            <h3>Is it confidential and secure?</h3>
            <p>
            Yes, what you write is completely confidential to you and your health professionals. For more information please see our <a href="/privacy">
              privacy policy
            </a>.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <p class="text-center">
        Want to know more? View our <a href="/help">frequently asked questions</a> or contact us <a href="mailto:contact@buddyapp.co.uk">contact@buddyapp.co.uk</a>
        </p>
      </div>
    </div>
  </div>

  <div class="container-fluid user-quotes">
    <div class="row pull-quote">
      <div class="col-md-7 col-md-offset-3">
        <blockquote>
          <p class="text-left">
          It was useful in sessions as I was able to recall the week, whereas normally I would forget.
          </p>
          <footer>
            ~ Service user, Female, 26
          </footer>
        </blockquote>
      </div>
    </div>
  </div>


  <div class="container-fluid recognition">
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <p class="text-left">
        Buddy is currently being rolled our nationally, working with Nottinghamshire Healthcare NHS Trust, Kent & Medway NHS Trust, West London Mental Health NHS Trust, North West Military Vereans IAPT and a number of other statutory and non-statutory providers.
        </p>
      </div>
      <div class="col-md-5">
        <h3>Recognition, Awards & Press</h3>
        <ul class="awards text-left">
          <li>Finalise 2012 for Innovation in Mental Health - HSJ Awards</li>
          <li>Gold Award, Community & Social - The Lovie Awards</li>
          <li>Published in the British Journal of Wellbeing</li>
          <li>Published in the Social Work and Social Sciences Review Journal</li>
          <li>Selected by National Endowment Society, Technology and the Arts (NESTA) as a radical digital public service</li>
          <li>Real Business magazine 50 most exciting businesses in the UK 2011</li>
          <li>Featured on BBC Radio 4 programme You and Yours</li>
        </ul>
      </div>
    </div>
  </div>


  <div class="container-fluid footer">
    <div class="row">
      <div class="col-xs-2 col-md-1">
        <img src="/images/buddy_logo_white.png" />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <p>
        &copy; 2012 <a href="http://www.sidekickstudios.net/"> Sidekick Studios </a> <br />
        All rights reserved
        </p>
      </div>
      <div class="col-xs-6 col-md-3">
        <ul>
          <li><a href="/help">Help/Frequently Asked Questions</a></li>
          <li><a href="/terms">Terms & Conditions</a></li>
          <li><a href="/privacy">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-md-3">
        <p>
        Contact<br/>
        For business queries <a href="mailto:info@buddyapp.co.uk">
          info@buddyapp.co.uk
        </a> <br />
        For technical queries <a href="mailto:contact@buddyapp.co.uk">
          contact@buddyapp.co.uk
        </a> <br />
        Twitter<br/>
        <a href="https://twitter.com/buddyappuk">
          @buddyappuk
        </a>
        </p>
      </div>
      <div class="col-xs-6 col-md-3">
      </div>
    </div>
  </div>

</div>

