<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Definitions</h3>
      <dl>
        <dt>Buddy</dt>
        <dd>Buddy Enterprises Ltd.</dd>
        <dt>Terms</dt>
        <dd>Terms and Conditions</dd>
        <dt>Product</dt>
        <dd>Buddy, including our websites, SMS, APIs, email notifications and applications</dd>
        <dt>Content</dt>
        <dd>Any of the data already on our Product as well as any data that has been uploaded</dd>
        <dt>Clinician</dt>
        <dd>The person or people who offer you support during your therapy</dd>
        <dt>Service User</dt>
        <dd>The person who is undertaking therapy and is a user of the Product</dd>
        <dt>Licensing Agreement</dt>
        <dd>The software license that a Clinician takes out with Buddy for use of the Product with Service Users</dd>
        <dt>Healthcare Provider</dt>
        <dd>The supplier of therapy services</dd>
      </dl>
      <h3>Basic Terms</h3>
      <p>You are responsible for your use of the Product, for any Content you post to the Product and for any consequences thereof. You should only provide Content that you are comfortable sharing with your Clinician.</p>
      <h3>Notification of changes to Terms</h3>
      <p>We are continually improving our methods of communication and adding new functionality and features to the Product. Because of these changes to the Product, changes in the law and the changing nature of technology, our Terms will change from time to time. We encourage you to check our Terms frequently for updates.</p>
      <h3>Your use of the Product</h3>
      <p>You have been granted a personal, non-exclusive, non-transferable license to access the Product which will terminate upon one of the following events:</p>
      <ol>
        <li>Expiry of the Licensing Agreement</li>
        <li>Inappropriate or illegal use of our Product.</li>
      </ol>
      <p>Use of the Product for the Service User is only available if their Clinician has a valid and running Licensing Agreement with Buddy.</p>
      <p>The Product that Buddy offers may change from time-to-time without prior notice to you. Buddy may stop (permanently, or temporarily) providing the Product (or any features within the Product) to you or users generally and may not be able to provide you with prior notice. We also retain the right to create limits on use and storage at our sole discretion whilst complying with any legal requirements under the Data Protection Act (1998) for your therapy.</p>
      <p>In addition, we reserve the right to suspend access to the whole or part of the Product in order to perform maintenance. Whilst we endeavour to ensure that any downtime is outside hours when the Product is normally expected to be used, we cannot always ensure this. When appropriate your Clinician will inform you of any planned downtime so that you can adjust your use accordingly.</p>
      <h3>Privacy</h3>
      <p>Any information that you provide to Buddy is subject to our <a href="/privacy">Privacy Policy</a>, which governs our collection and use of your information. You understand that through the use of the Product you consent to the collection and use (as set forth in the Privacy Policy) of this information.</p>
      <h3>Passwords and Mobile Devices</h3>
      <p>You are responsible for safeguarding the password that you use to access the Product and for any activities or actions under your password either on the web site or use of your mobile device. We encourage you to use "strong" passwords (passwords that use a combination of upper and lower case letters, numbers and symbols) as well as activating the password protection function  on your mobile device.</p>
      <h3>Inappropriate or illegal use of our Product</h3>
      <p>This is defined as the uploading or transmitting through the Product any malicious software which may interfere with or interrupt the normal operating procedures of the Product.</p>
      <h3>Rights</h3>
      <p>You retain the Rights to any Content you submit through the Product and can request that this information be deleted through your Healthcare Provider, subject to any applicable legal and ethical reporting or document retention obligations imposed on us.</p>
      <p>If you require a copy of these records, you should request a hard-copy from your Clinician before your Licensing Agreement with the Product is terminated.</p>
      <p>You may update certain items of information you have entered by logging into the Product and using the 'Edit Settings' facility.</p>
      <p>The Content you have submitted may form part of your medical records.</p>
      <h3>Links to other websites</h3>
      <p>In future, the Product may contain hyperlinks to other Products that are not operated by us. These hyperlinks are provided for your reference and convenience only and do not imply any endorsement of the activities of these third-party Products or any association with their operators. We do not control these Products and are not responsible for their Content or Privacy Policies. We urge you to review any Privacy Policy provided by their Product before use.</p>
      <h3>Buddy Rights</h3>
      <p>All right, title and interest in and to the Product (excluding user submitted Content)are and will remain the exclusive property of Buddy. Nothing in the Terms gives you the Right to the Buddy name, logos or domain names and other distinctive brand features.</p>
      <h3>Disclaimers and Limitations of Liability</h3>
      <p>The Product is available as-is. You acknowledge, that by using the Product any decision made or action taken on the basis of information provided by the Product is at your and your Clinician's (where appropriate) discretion and risk. So far as is permissable by law, Buddy does not accept accept any liability to any person relating to the use of the Product.</p>
      <p>We are not liable for direct/indirect losses which are a side-effect of the Product not being available.</p>
      <h3>Waiver and Severability</h3>
      <p>The failure of Buddy to enforce any Right or Provision of these Terms will not be deemed a waiver of such Right or Provision. In the event that any Provision of these Terms is held to be invalid or unenforceable, then that Provision will be limited or eliminated to the minimum extent necessary, and the remaining Provisions of these Terms will remain in full force and effect.</p>
      <h3>Law and Jurisdiction</h3>
      <p>The Product is controlled by Buddy from its offices within England. These terms and conditions are governed by the law of England and all actions or proceedings arising out of or relating to these Terms must be venued in England. Notwithstanding the foregoing, we retain the right to bring legal proceedings in any jurisdiction where we believe that breach of this agreement is taking place or originating.</p>
      <h3>Contacting us</h3>
      <p>If you have any questions regarding these Terms, you should contact us by email at contact@buddyapp.co.uk or by writing to Buddy Enterprises Ltd., Third Floor, Fergusson House, 124-128 City Road, London EC1V 2NJ. We will endeavour to respond promptly to all communications.</p>
    </div>
  </div>
</div>
