<div class="col-md-12">
  <div class="col-md-push-3 col-md-3">
    <div ng-show="auth.isClinician()">
      <p><a ng-href="/service_users">Service Users</a></p>
    </div>
  </div>
  <div class="col-md-push-3 col-md-3">
    <div ng-show="auth.isClinician()">
      <p><a ng-href="/service_users">Service Users</a></p>
    </div>
  </div>
</div>
<div class="col-md-12">
  <div class="col-md-push-3 col-md-3">
    <div ng-show="auth.isClinician()">
      <p><a ng-href="/service_users">Service Users</a></p>
    </div>
  </div>
  <div class="col-md-push-3 col-md-3">
    <div ng-show="auth.isClinician()">
      <p><a ng-href="/service_users">Service Users</a></p>
    </div>
  </div>
</div>
