<div class="col-md-push-3 col-md-6 form-container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center dashboard-header">Dashboard</h1>
      <div class="col-md-6 col-md-push-1 dashboard-search">
        <form ng-submit="search()">
          <div class="input-group">
            <input type="text" class="form-control" ng-model="search_term" placeholder="Search for a user">
            <span class="input-group-btn">
              <button class="btn btn-buddy btn-search">
                <span class="iconic" data-glyph="magnifying-glass" title="search" aria-hidden="true"></span>
              </button>
            </span>
          </div>
        </form>
      </div>
      <div class="col-md-5 col-md-push-1 dashboard-search">
        <p>You can search, by name, phone number or NHS number</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 dashboard-box first">
      <div class="dashboard-icon plus-icon text-center">
        <span class="iconic iconic-md" data-glyph="plus" title="plus" aria-hidden="true"></span>
      </div>
      <div ng-if="user.can_administer_account"><p><a href="/clinicians/new">Add a clinician</a> or<br /></div>
        <a ng-click="addServiceUser()" href="/service_users/new" class="add-service-user">Add a service user</a></p>
    </div>
    <div class="col-md-6 dashboard-box">
      <div class="dashboard-icon question-mark-icon text-center">
        <span class="iconic iconic-md" data-glyph="person-genderless" title="service-users" aria-hidden="true"></span>
      </div>
      <p><a href="/service_users">Manage service users</a><br />
        <span>{{ (serviceUsers | filter: {deactivated_at: null, clinician_id: user.id}).length }} active service users</span></p>
    </div>

  </div>

  <div ng-if="user.can_administer_account">
    <div class="row">
      <div class="col-md-6 dashboard-box first">
        <div class="dashboard-icon data-transfer-icon text-center">
          <span class="iconic iconic-md" data-glyph="settings" title="settings" aria-hidden="true"></span>
        </div>
        <p><a href="/settings">Settings</a></p>
      </div>
      <div class="col-md-6 dashboard-box" >
        <div class="dashboard-icon calendar-icon text-center">
          <span class="iconic iconic-md" data-glyph="calendar" title="calendar" aria-hidden="true"></span>
        </div>
        <p><a href="/clinicians">Manage clinicians</a><br />
          <span>{{ (clinicians | filter: {deactivated_at: null}).length }} active clinicians</span></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 dashboard-box first">
        <div class="dashboard-icon data-transfer-icon text-center">
          <span class="iconic iconic-md" data-glyph="data-transfer-download" title="data-transfer" aria-hidden="true"></span>
        </div>
        <p><a href="/reports">Download reports</a><br />
          <span>Learn how buddy is being used within your team</span></p>
      </div>
      <div class="col-md-6 dashboard-box">
      <div class="dashboard-icon question-mark-icon text-center">
        <span class="iconic iconic-md" data-glyph="question-mark" title="question-mark" aria-hidden="true"></span>
      </div>
      <p><a href="/tutorial">View the tutorial</a><br />
        <span>Learn how to get started with Buddy</span></p>
      </div>
    </div>
  </div>
  <div ng-if="!user.can_administer_account">
    <div class="row">
      <div class="col-md-6 dashboard-box first">
        <div class="dashboard-icon data-transfer-icon text-center">
          <span class="iconic iconic-md" data-glyph="settings" title="settings" aria-hidden="true"></span>
        </div>
        <p><a href="/settings">Settings</a></p>
      </div>
      <div class="col-md-6 dashboard-box">
        <div class="dashboard-icon question-mark-icon text-center">
          <span class="iconic iconic-md" data-glyph="question-mark" title="question-mark" aria-hidden="true"></span>
        </div>
        <p><a href="/tutorial">View the tutorial</a><br />
          <span>Learn how to get started with Buddy</span></p>
      </div>
    </div>
  </div>
</div>
